.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;
}
.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    font-family: $font-display;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 1.5rem;
    transition: all 0.2s;
    &:hover,
    &:active {
      background-color: rgba(#fff, 0.05);
      transform: translateY(-3px);
    }
  }
}
.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  margin-top: 6rem;
  text-align: center;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
